@import '../../Variables.scss';

#skills {
	.content {
		margin-top: 30px;

		p {
			text-align: center;
			margin-bottom: 50px;
			color: #fff;
			font-family: monospace;
			font-size: 1em;
			line-height: 1.6em;
		}

		// .content-head {
		// 	display: flex;
		// 	align-items: center;

		// 	h3 {
		// 		font-family: 'Roboto', sans-serif;
		// 		font-size: 1em;
		// 		color: $secondary-color;
		// 	}
		// }

		.skill-list {
			display: flex;
			justify-content: space-evenly;
			text-align: center;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					color: #ccc;
					font-family: monospace;
					font-size: 1.1em;
					margin-top: 5px;
					background: #40484d;
					border-radius: 3px;
					padding: 6px;

					img {
						max-height: 80px;
						max-width: 100%;
					}
				}
			}
		}

		.contact-btn {
			margin: 50px auto 0 auto;
			width: 120px;
			text-align: center;
			color: #fff;
			background: $primary-color;
			border-radius: 6px;
			font-family: monospace;

			a {
				text-decoration: none;
				font-size: 1em;
				color: #fff;
				display: block;
				padding: 15px 10px;
			}
		}
	}
}

@media only screen and (min-width: 495px) {
	#skills {
		.content {
			max-width: 80%;
			margin: 0 auto;
		}
	}
}

@media only screen and (min-width: 630px) {
	#skills {
		.content {
			max-width: 50%;
			margin: 0 auto;

			.skill-list {
				justify-content: center;

				ul {
					margin: 0 50px;

					li {
						margin-top: 10px;
					}
				}
			}

			p {
				line-height: 2em;
			}
		}
	}
}
