@import '../../Variables.scss';

#home {
	height: 100vh;

	.top-area {
		.outer-img {
			border: 1px solid;
			padding: 5px;
			height: 200px;
			width: 200px;
			margin: 20px auto;
			background: #e1e1e1;

			.main-img {
				height: 100%;
				width: 100%;
				overflow: hidden;
				margin: 0 auto;
				background: url('../../assets/images/jaskaran.jpg');
				background-size: cover;
				background-position: 0 -10px;

				img {
					max-width: 100%;
					border-radius: 6px;
				}
			}
		}

		h1,
		p {
			font-family: 'Noto Serif', serif;
			margin: 0;
		}

		h1 {
			font-size: 4em;
			line-height: 1.2em;
			font-weight: 400;
			margin-bottom: 20px;
			color: $primary-color;
		}

		h2 {
			color: $secondary-color;
		}

		p:first-of-type {
			color: $secondary-color;
			font-size: 1.3em;
			font-weight: bold;
		}

		p:last-of-type {
			line-height: 1.6em;
			color: $secondary-color;
			font-size: 0.9em;
			font-family: monospace;
		}
	}

	.social-icons {
		display: flex;
		justify-items: center;
		justify-content: space-between;
		font-size: 1.9em;
		max-width: 60%;

		a {
			color: #e1e1e1;
			margin: 20px 0 5px 0;
		}
	}

	.content {
		padding-top: 40px;

		a {
			color: $secondary-color;
			text-decoration: none;
			border: 2px solid $secondary-color;
			padding: 10px;
			border-radius: 3px;
			font-family: 'Roboto', sans-serif;
			font-size: 0.9em;
		}

		a:hover {
			background: $primary-color;
			color: #000;
		}
	}
}

@media only screen and (min-width: 495px) {
	#home {
		padding-top: 30px;

		.top-area {
			max-width: 60%;
			margin: 0 auto;

			.outer-img {
				height: 180px;
				width: 180px;
				border-radius: 50%;

				.main-img {
					border-radius: 50%;
				}
			}

			p:first-of-type {
				font-size: 2em;
			}

			p:last-of-type {
				font-size: 1.3em;
			}
		}

		.centered {
			max-width: 60%;
			margin: 0 auto;
			text-align: center;

			.social-icons {
				justify-content: center;
				max-width: 100%;

				a {
					padding: 0 10px;
				}
			}
		}
	}
}
