@import '../../Variables.scss';

#header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 1;
	padding: 15px 0 15px 0;
	align-items: center;

	a {
		color: $primary-color;
		font-family: 'Noto Serif', serif;
		font-size: 1.7em;
		padding-left: 15px;
		font-weight: 700;
		text-decoration: none;
	}

	nav {
		text-align: right;
		padding: 15px 0 15px 0;

		svg {
			color: $primary-color;
			font-size: 1.7em;
			padding-right: 15px;
			cursor: pointer;
		}

		ul {
			list-style: none;
			margin: 50px 20px;

			li {
				a {
					font-size: 1.3em;
					font-family: monospace;
					color: $background-color;
				}
			}

			li:not(:last-child) {
				margin-bottom: 20px;
				border-bottom: 1px solid;
				padding-bottom: 5px;
			}
		}
	}

	nav.open {
		position: absolute;
		top: 0;
		right: 0;
		height: 100vh;
		width: 70%;
		background: #e5e2e2;

		#ham {
			display: none;
		}
	}

	nav.close {
		ul {
			display: none;
		}

		#cross {
			display: none;
		}
	}
}

.navbar-active {
	background: $background-color;
}

@media only screen and (min-width: 500px) {
	nav {
		max-width: 60%;
	}
}

@media only screen and (min-width: 730px) {
	nav {
		max-width: 40%;
	}
}

@media only screen and (min-width: 1200px) {
	nav {
		max-width: 30%;
	}
}
