@import '../../Variables.scss';

#header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	z-index: 1;
	padding: 15px 0 15px 0;
	align-items: center;

	span {
		color: $primary-color;
		font-family: 'Noto Serif', serif;
		font-size: 1.7em;
		padding-left: 15px;
		font-weight: 700;
	}

	nav {
		padding-right: 15px;

		ul {
			display: none;
		}

		svg {
			color: $primary-color;
			font-size: 1.7em;
		}
	}
}

.navbar-active {
	background: $background-color;
}
