@import '../../Variables.scss';

footer {
	background: $primary-color;
	color: #fff;
	font-family: monospace;
	text-align: center;
	height: 40px;

	a {
		color: #fff;
	}

	p {
		margin: 0;
		padding-top: 10px;
	}
}
