// $background-color: #322d3c;
// $background-color: #282727;
$background-color: #2d2d2d;
// $primary-color: #d0d07c;
// $primary-color: #fbec65;
$primary-color: #d87928;
// $secondary-color: #a48ecc;
// $secondary-color: #a48ecc;
$secondary-color: #b5b5b5;
// $secondary-color: #282727;
